modules = ["nodejs-20", "python-3.12", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python api.py"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "gunicorn --bind=0.0.0.0:5000 --reuse-port api:app"]
build = ["bash", "-c", "cd frontend && npm install && npm run build"]

[userenv]

[userenv.shared]
BNB_WALLET = "0x479F8bdD340bD7276D6c7c9B3fF86EF2315f857A"
ETH_WALLET = "0x479F8bdD340bD7276D6c7c9B3fF86EF2315f857A"
SOL_WALLET = "46ZKRuURaASKEcKBafnPZgMaTqBL8RK8TssZgZzFCBzn"
ADMIN_ID = "8235324142"
SITE_URL = "https://nomics.replit.app"
